{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-md-4">
    <div class="card card-body">
      <h4 class="mb-3">Añadir Dispositivo</h4>
      <form action="{{url_for('add_nodo')}}" method="POST">
        <div class="form-group mb-3">
          <input type="text" class="form-control" name="nombre" placeholder="Nombre (Ej: Pico 1)" required>
        </div>
        <div class="form-group mb-3">
          <input type="text" class="form-control" name="mac" placeholder="Dirección MAC" required>
        </div>
        <button class="btn btn-primary w-100">Guardar</button>
      </form>
    </div>
  </div>
  
  <div class="col-md-8">
    <table class="table table-striped table-hover table-bordered bg-white">
      <thead>
        <tr>
          <td>ID</td>
          <td>Nombre</td>
          <td>MAC</td>
          <td>Acciones</td>
        </tr>
      </thead>
      <tbody>
        {% for nodo in nodos %}
        <tr>
          <td>{{nodo.0}}</td>
          <td>{{nodo.2}}</td>
          <td>{{nodo.1}}</td>
          <td>
            <a href="/editar/{{nodo.0}}" class="btn btn-secondary btn-sm">Editar</a>
            <a href="/borrar/{{nodo.0}}" class="btn btn-danger btn-sm btn-borrar">Borrar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}