<!DOCTYPE html>
<html lang="es" data-bs-theme="light">

<head>
  <meta charset="UTF-8" />
  <title>FLASK CRUD 1.6</title>
  
  <script>
    (function() {
      {% if session.get("user_id") %}
        // Si tiene sesión, respetamos su última elección (sea claro u oscuro)
        const savedTheme = localStorage.getItem('theme') || 'light';
        document.documentElement.setAttribute('data-bs-theme', savedTheme);
      {% else %}
        // Si NO tiene sesión (Login/Registro), obligatoriamente Tema Claro
        document.documentElement.setAttribute('data-bs-theme', 'light');
      {% endif %}
    })();
  </script>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/cosmo/bootstrap.min.css">
</head>
<body>

  {% with messages = get_flashed_messages() %} 
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %} 
  {% endwith %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CRUD</a>
      
      {% if session.get("user_id") %} 
      <div class="d-flex align-items-center">
        <div class="nav-item pe-3 text-white">{{ session.get("user_id") }}</div>
        
        <div class="me-3">
          <select id="theme-selector" class="form-select form-select-sm">
            <option value="light">Tema Claro</option>
            <option value="dark">Tema Oscuro</option>
          </select>
        </div>
        <a href="{{url_for('logout')}}" class="btn btn-secondary my-2 my-sm-0">Salir</a>
      </div>
      {% endif %}
    </div>
  </nav>

  <div class="container pt-4">
    {% block body %}
    {% endblock %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
          crossorigin="anonymous"></script>

  <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>